* {
    margin: 0;
    padding: 0%;
}

body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding-top: 17px;
}

.row {
    width: 100vw;
    height: 80px;
    background-color: blueviolet;
    color: antiquewhite;
}

.container {
    background-color: rgb(249, 224, 250);
    margin: 0 auto;
    border: 1px solid tomato;
    padding: 20px;
}

.card {
    background-color: rgb(255, 255, 255);
    border: 1px solid blueviolet;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(69, 24, 69);
    padding: 35px;
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 12px;

}

.pageNo {
    float: right;
}